{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% load custom_tags %}

{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>
   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>
   <hr>


    {% if perms.news.add_post %}
    <a href="{% url 'post_create' %}">Добавить пост</a>
    {% endif %}

   {% if news %}
        <table>
            <tr>
                <td>Название</td>
                <td>Описание</td>
                <td>Категория</td>
                <td>Дата</td>
                <td>Тематика</td>
                <td>Текст</td>


                {% if perms.news.change_post or perms.news.delete_post %}
                <td>Действия</td>
                {% endif %}
            </tr>

            {% for post in news %}
            <tr>
                <td>{{ post.title }}</td>
                <td><div align = "center">{{ post.text|truncatechars:20 }}</div></td>
                <td>{{ post.categoryTypes}}</td>
                <td>{{ post.dateCreation|date:'d M Y' }}</td>
                <td>{{post.postCategory}}</td>
                <td>{{ post.text|censor}}</td>

                <td>
                    {% if perms.news.change_post %}
                    <a href="{% url 'post_update' pk=post.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.news.delete_post %}
                    <a href="{% url 'post_delete' post.id %}">Удалить</a>
                    {% endif %}
                </td>
            </tr>
           {% endfor %}
       </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
    {% if page_obj.has_previous %}
            <a href="?{% url_replace page=1 %}"><<</a>
            {% if page_obj.previous_page_number != 1 %}
                ...
                <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">>></a>
        {% endif %}
    {% endif %}
{% endblock content %}